@charset "UTF-8";
/* AUTOR Karina Durán Canelo */
/*Carpeta Galeria*/
/*estilo galeria*/
/*papaya*/
/*gris oscuro*/
/*gris claro*/
#ourr {
  color: #333745;
  margin-top: 20px;
  position: relative;
}
#galery {
  color: #FF7F66;
  top: -20px;
  position: relative;
}
#fintess {
  color: #3E454C;
}
#previous {
  color: #3E454C;
}
#next {
  color: #3E454C;
}
.carousel-inner {
  background-color: #fff !important;
}
.carousel-inner img {
  margin: 0 auto ;
}
.right,
.left {
  background: none !important;
}
/*cierra estilo galeria*/
/* ABRE ESTILO TRAINING*/
#training {
  /*CIERRA STYLE TRAINING*/
}
#training #our {
  color: #3E454C !important;
  font-size: 36px;
  right: 30px;
  margin-top: 20px;
  position: relative;
}
#training #trainings {
  color: #FF7F66;
  font-size: 36px;
  right: 30px;
  position: relative;
}
#training #img1 {
  right: 35px;
  margin: 20px;
  position: relative;
}
#training #img2 {
  margin: 39px;
  left: 150px;
  position: relative;
  top: -20px;
}
#training #img3 {
  right: 100px;
  position: relative;
  margin: 40px;
  top: -20px;
}
#training #img4 {
  margin: 39px;
  left: 102px;
  position: relative;
  top: -20px;
}
#training #img5 {
  right: 102px;
  position: relative;
  margin: 40px;
  top: -20px;
}
#training .titles {
  color: #3E454C;
}
#training .desc_about {
  color: #aaaaaa;
}
#training .btn-right {
  color: #fff;
  background: -webkit- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -moz- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -ms- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -o- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  right: 30px!important;
  position: relative;
  margin: 21px;
}
#training .btn-left {
  color: #fff;
  background: -webkit- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -moz- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -ms- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -o- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  margin: 18px;
  position: relative;
  right: 20px;
}
#training #footer {
  margin-top: 60px;
  color: #aaaaaa;
}
#training #footer .phone {
  font-size: 10px !important;
}
#training #footer img {
  margin-left: 100%;
}
#training #up {
  color: #fff;
  background: #000;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* ABRE STYLE ABOUT*/
#who {
  color: #333745;
  font-size: 36px;
  right: 30px;
  position: relative;
}
#trainings {
  color: #FF7F66;
  font-size: 36px;
  right: 30px;
  margin-top: -30px;
  position: relative;
}
.entrenadores {
  color: #3E454C;
}
.desc1 {
  color: #aaaaaa;
}
#redes {
  margin-top: 20px;
}
#redes span {
  background: #aaaaaa;
  padding: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  margin: 6px;
}
#why {
  color: #333745;
  font-size: 36px;
  right: 30px;
  position: relative;
}
#choose {
  color: #FF7F66;
  font-size: 36px;
  right: 30px;
  position: relative;
  margin-top: -25px;
}
#desc2 {
  color: #aaaaaa;
  right: 30px;
  position: relative;
}
#what {
  color: #333745;
  font-size: 36px;
  right: 30px;
  position: relative;
}
#our {
  color: #FF7F66 !important;
  font-size: 36px;
  right: 30px;
  position: relative;
  margin-top: -25px;
}
.desc3 {
  color: #aaaaaa;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-sizing: border-box;
}
.names {
  color: #FF7F66;
  font-size: 25px;
}
/*CIERRA SYTLE ABOUT*/
#up {
  color: #fff;
  background: #000;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
#to-top {
  margin: 40px 0px;
}
