@charset "UTF-8";
/* AUTOR FRANCISCO */
* {
  padding: 0px;
  margin: 0px;
  outline: 0px solid #fff !important;
}
a {
  text-decoration: none !important ;
}
.sec {
  margin-top: 40px;
}
.texto {
  font-size: 40px;
}
.orange {
  color: #FF5342;
  margin-top: -20px;
}
form {
  width: 500px;
  display: block;
  right: 200px;
}
form input {
  margin: 10px 0px;
  width: 275px;
}
.lastInput {
  display: inline-block;
  width: 70px;
  height: 40px;
  background:#FF5342;
  border: none;
  margin-left: 8px;
  color: white;
}
#contactInfo {
  margin-top: 30%;
  color: gray;
}
