@charset "UTF-8";
/* AUTOR CAROLINA GARITA BRENES */
body {
  background-color: #F1F1F2;
}
.glyphicon {
  color: #FBB098;
}
#titulo_1 {
  color: #333745;
}
#titulo_2 {
  color: #FF7F66;
}
#calendar_1 {
  background-color: #FF997B;
  text-align: center;
  padding: 20px;
}
#ag {
  margin-top: 5px;
  background-color: #FF5342;
  text-align: center;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -5px;
}
#text_color1 {
  color: #FF7F66;
  position: relative;
  top: 50px;
}
#text_1 {
  position: relative;
  top: 45px;
}
#text_2 {
  position: relative;
  top: 80px;
}
#info_1 {
  position: relative;
  top: -5px;
  text-align: left;
}
#info_2 {
  position: relative;
  top: -5px;
  text-align: left;
}
#categories {
  position: relative;
  top: 5px;
  margin-right: 200px;
}
#archives {
  position: relative;
  top: 70px;
  margin-right: 200px;
}
.but {
  position: relative;
  top: 70px;
  color: #fff;
  background: -webkit- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -moz- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -ms- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  background: -o- linear-gradient(to bottom, #FF9D7E 0%, #FF8C71 70%, #FF7860 100%);
  padding: 15px;
  margin-right: 150px;
}
li {
  margin: 10px 0px;
}
