#header span {
  color: #FD9566;
}
#header a {
  display: inline-block;
  margin: 15px 0px;
  color: #fff;
  margin-left: 10px;
  padding: 9px;
  background: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
#header a span {
  color: #fff;
}
#header a:hover {
  background: #FF5342;
}
#navegacion {
  margin-bottom: 3px ;
}
#navegacion nav ul {
  display: none;
}
#navegacion nav span {
  display: none;
}
#navegacion nav p {
  display: block;
  width: 100%;
  height: 50px;
  background: #FF5342;
  color: blue;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}
#navegacion nav .menu {
  margin-top: -10px;
  display: block;
  width: 100%;
  height: 150px;
  background: #FF5342;
  text-align: center;
}
#navegacion nav .menu li {
  padding: 2px;
  list-style:none!important
}
#navegacion nav .menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
#navegacion nav .menu li:hover {
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (min-width: 768px) {
  #navegacion nav p {
    display: none;
  }
  #navegacion ul.menu {
    display: inline-block;
    width: 100%;
    height: 52px;
    background: -webkit- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -moz- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -ms- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -o- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d7e', endColorstr='#ff7760', GradientType=0);
    /* IE6-9 */
    position: relative;
    padding: 0;
    margin: 0;
  }
  #navegacion ul.menu li {
    width: 18.5%;
    height: 52px;
    display: inline-block;
    border-left: solid 1px #FF9578;
    border-right: solid 1px #FF6D54;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #navegacion ul.menu li:first-child {
    width: 7.5%;
  }
  #navegacion ul.menu li a {
    display: inline-block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all .2s;
    background: transparent;
  }
  #navegacion ul.menu li:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  #navegacion ul.menu li:active,
  #navegacion ul.menu li:focus,
  #navegacion ul.menu li:active:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
  }
  #navegacion ul.menu li:first-child a {
    background: rgba(0, 0, 0, 0.05);
  }
  #navegacion ul.menu li:first-child span {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  #navegacion .dropdown-menu-vertical {
    display: inline-block;
    background: -webkit- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -moz- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -ms- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    background: -o- linear-gradient(to bottom, #ff9d7e 0%, #ff7760 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d7e', endColorstr='#ff7760', GradientType=0);
    /* IE6-9 */
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 99999;
    display: none;
    position: absolute;
    left: 26.9% !important;
    top: 52px;
  }
  #navegacion .dropdown-menu-vertical:before {
    content: '';
    height: 52px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    top: -52px;
  }
  #navegacion .dropdown-menu-vertical li {
    text-align: center;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    width: 100%;
    text-transform: uppercase;
  }
  #navegacion .dropdown-menu-vertical li a {
    display: inline-block;
    width: 100%;
    height: 28px;
    text-decoration: none;
    color: white;
  }
  #navegacion .dropdown-menu-vertical li a:hover {
    background-color: #4D555E;
  }
  #navegacion .menu li:nth-child(3) {
    position: relative;
  }
  #navegacion .menu li:nth-child(3):after {
    font-family: 'Glyphicons Halflings';
    content: "\e252";
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 35px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
    color: white;
  }
  #navegacion .dropdown-menu-horizontal {
    width: 154px;
    height: auto;
    background-color: #464E56;
    padding-bottom: 25px;
    padding-top: 25px;
    position: absolute;
    top: 52px;
    margin-left: 12px;
    z-index: 5;
    display: none;
  }
  #navegacion .dropdown-menu-horizontal li,
  #navegacion .dropdown-menu-horizontal a {
    text-align: center;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    width: 100%;
    text-transform: uppercase;
    color: black;
  }
  #navegacion .dropdown-menu-horizontal li a:hover,
  #navegacion .dropdown-menu-horizontal a a:hover {
    text-decoration: none;
    background-color: #ff9d7e;
  }
  #navegacion .dropdown-menu-horizontal:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 12px;
    background: transparent;
    margin-top: -25px;
    margin-left: -12px;
  }
  #navegacion .dropdown-menu-horizontal:after {
    content: '';
    position: absolute;
    background: transparent;
    height: 28px;
    width: 100%;
    right: 100%;
    margin-right: 12px;
    top: 4px;
  }
  #navegacion .dropdown-btn-horizontal {
    position: relative;
  }
  #navegacion .dropdown-btn-horizontal.active {
    background-color: #4D555E;
  }
  #navegacion .dropdown-btn-horizontal:after {
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
    color: white;
  }
}
